@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --gold: #c5a572;
  --dark-gold: #9b834c;
  --cream: #f8f5f0;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  background: #fff;
}
